<table border="1" cellpadding="8" cellspacing="0" style="border-collapse: collapse; width: 100%; max-width: 600px; font-family: Arial, sans-serif;">
  <thead style="background-color: #2980b9; color: white;">
    <tr>
      <th>구분</th>
      <th>다운로드 링크</th>
      <th>비고</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>VM,Linux,Container</td>
	  <td>
        <a href="{{ url_for('download_static', filename='linux.zip') }}"  download="linux.zip" style="color: #2980b9; text-decoration: none; font-weight: bold;">
          linux용 다운로드
        </a>
      </td>
      <td>1.0</td>
    </tr>
	<tr>
	 <td>WEB-NGINX</td>
	 <td>
	    <a href="{{ url_for('download_static', filename='nginx.zip') }}"  download="nginx.zip" style="color: #2980b9; text-decoration: none; font-weight: bold;">
		  nginx용 다운로드
		  </a>
	  </td>
	  <td>압축파일 비번:qhdks00!!</td>
	</tr>
	<tr>
	 <td>WEB-Apache</td>
	 <td>
	    <a href="{{ url_for('download_static', filename='apache2.zip') }}"  download="apache2.zip" style="color: #2980b9; text-decoration: none; font-weight: bold;">
		  apache용 다운로드(version 2 이상)
		  </a>
	  </td>
	  <td>1.0</td>
	</tr>
    <tr>
	 <td>DB-mysql,mariadb</td>
	 <td>
	    <a href="{{ url_for('download_static', filename='maria.zip') }}"  download="maria.zip" style="color: #2980b9; text-decoration: none; font-weight: bold;">
		  mysql,mariadb용 다운로드
		  </a>
	  </td>
	  <td>1.0</td>
	</tr>
	<tr>
	 <td>windows-pc</td>
	 <td>
	    <a href="{{ url_for('download_static', filename='pc.zip') }}"  download="pc.zip" style="color: #2980b9; text-decoration: none; font-weight: bold;">
		  windows pc용 다운로드
		  </a>
	  </td>
	  <td>1.0</td>
	</tr>
	<tr>
	 <td>K8S Master</td>
	 <td>
	    <a href="{{ url_for('download_static', filename='k8s_master.zip') }}"  download="k8s_master.zip" style="color: #2980b9; text-decoration: none; font-weight: bold;">
		  쿠버네티스(마스터) 다운로드
		  </a>
	  </td>
	  <td>1.0</td>
	</tr>
	<tr>
	 <td>K8S Worker</td>
	 <td>
	    <a href="{{ url_for('download_static', filename='k8s_worker.zip') }}"  download="k8s_worker.zip" style="color: #2980b9; text-decoration: none; font-weight: bold;">
		  쿠버네티스(워커) 다운로드
		  </a>
	  </td>
	  <td>1.0</td>
	</tr>
    <tr>
	 <td>Docker</td>
	 <td>
	    <a href="{{ url_for('download_static', filename='docker.zip') }}"  download="docker.zip" style="color: #2980b9; text-decoration: none; font-weight: bold;">
		  도커 다운로드
		  </a>
	  </td>
	  <td>1.0</td>
	</tr>
  </tbody>
</table>
