<form id="upload-form" method="post" enctype="multipart/form-data">
  <label for="system-select">시스템 선택:</label>
  <select id="system-select" name="system" required>
    <option value="" disabled selected>선택하세요</option>
    <option value="linux">linux</option>
	<option value="windows">windows</option>
    <option value="container">Container</option>
    <option value="db">DB</option>
    <option value="nginx">nginx</option>
	<option value="apache">apache</option>
    <option value="was">WAS</option>
  </select>

  <label for="xml-file">XML 파일 업로드:</label>
  <input type="file" id="xml-file" name="xml_file" accept=".xml" required />

  <button type="submit">업로드</button>
</form>
